.section {
  padding: 0.5rem 0;
}

.overview {

  @include breakpoint-medium {
    display: flex;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
  }
}

.overview__image {
  max-width: 60%;
  padding: 0 0 0.25rem 0;

  @include breakpoint-medium {
    max-width: 20%;
    padding-right: 2rem;
  }
}

.download {
  display: block;
  margin: 1.25rem 0;
}

.paper-listing__item {
  border-bottom: 1px solid $tertiary-color;
  padding: 1rem 0;

  &:last-child {
    border-bottom: 0;
  }

  @include breakpoint-medium {
    display: flex;
    
    &__image {
      padding: 0 1rem 0 0;
    }
  }
}

.paper-listing__item__title {
  padding: 1rem 0 0.5rem 0;
}

.paper-listing__item__authors {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.paper-listing__item__more__title {

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.paper-listing__item__more__content {
  display: none;
  font-size: 0.9rem;
  line-height: 1.25rem;
  padding-bottom: 1rem;

  code {
    font-size: 0.75rem;
  }
}