.section {
  padding: 0.5rem 0;
}

.overview {
  @media only screen and (min-width: 48rem) {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }
}

.overview__image {
  max-width: 60%;
  padding: 0 0 0.25rem 0;

  @media only screen and (min-width: 48rem) {
    max-width: 20%;
    padding-right: 2rem;
  }
}

.download {
  display: block;
}

.paper-listing__item {
  border-bottom: 1px solid black;
  padding: 1rem 0;

  @media only screen and (min-width: 48rem) {
    display: flex;
    
    &__image {
      padding: 0 1rem 0 0;
    }
  }
}

.paper-listing__item__title {
  padding: 1rem 0 0.5rem 0;
}

.paper-listing__item__authors {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.paper-listing__item__more__content {
  display: none;
  font-size: 0.9rem;
  line-height: 1.25rem;
  padding-bottom: 1rem;

  code {
    font-size: 0.75rem;
  }
}