footer {
  background-color: $primary-color;
  color: $light-gray;
  padding: 0.5rem;
  margin-top: 2rem;

  a {
    color: $light-gray;
  
    &:hover {
      color: $tertiary-color;
    }
  }
}

.footer-nav {
  list-style: none;
  text-align: center;
}