// Color Variables
$primary-color: #483B59;
$secondary-color: #D9ADCA;
$tertiary-color: #F2E7AE;

$dark-gray: #333;
$medium-gray: #555;
$light-gray: #efefef;

$primary-font: 'IBM Plex Sans', Helvetica, Arial, sans-serif;