// Color Variables
$primary-color: #2D2630;
$secondary-color: #E5CFC4;
$tertiary-color: #5A485E;
$light-theme-color: #F2F2F2;

$dark-gray: #333;
$medium-gray: #777;
$light-gray: #efefef;

$primary-font: 'IBM Plex Sans', Helvetica, Arial, sans-serif;