body {
  margin: 2rem auto; }

img {
  max-width: 100%; }

.heading {
  text-align: center; }

@media screen and (min-width: 48.25rem) {
  .js .menu__link {
    display: none; } }

.js nav {
  max-height: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  @media screen and (min-width: 48.25rem) {
    .js nav {
      max-height: none; } }
  .js nav.active {
    max-height: 15rem; }
  .js nav ul {
    margin: 0;
    padding: 0; }
    @media only screen and (min-width: 48.25rem) {
      .js nav ul {
        margin: 0 0 0 -0.25rem; } }
  @media only screen and (min-width: 48.25rem) {
    .js nav li {
      display: inline-block;
      margin: 0 0.25rem; } }
  .js nav li > a {
    display: block; }
