body {
  margin: 0 auto;
  font-size: 1rem;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-weight: 400; }

img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

header {
  margin: 0.5rem 0;
  overflow: hidden; }
  @media only screen and (min-width: 48rem) {
    header.grid {
      display: flex; } }

main {
  padding: 1rem;
  max-width: 50rem;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #777; }

ul {
  margin: 1rem;
  padding: 0; }

li {
  padding: 0.25rem 0; }

p {
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0.5rem 0; }

.section {
  padding: 0.5rem 0; }

@media only screen and (min-width: 48rem) {
  .overview {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto; } }

.overview__image {
  max-width: 60%;
  padding: 0 0 0.25rem 0; }
  @media only screen and (min-width: 48rem) {
    .overview__image {
      max-width: 20%;
      padding-right: 2rem; } }

.download {
  display: block; }

.paper-listing__item {
  border-bottom: 1px solid black;
  padding: 1rem 0; }
  @media only screen and (min-width: 48rem) {
    .paper-listing__item {
      display: flex; }
      .paper-listing__item__image {
        padding: 0 1rem 0 0; } }

.paper-listing__item__title {
  padding: 1rem 0 0.5rem 0; }

.paper-listing__item__authors {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.25rem; }

.paper-listing__item__more__content {
  display: none;
  font-size: 0.9rem;
  line-height: 1.25rem;
  padding-bottom: 1rem; }
  .paper-listing__item__more__content code {
    font-size: 0.75rem; }

.heading {
  text-align: center; }
  .heading__tagline {
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 400;
    display: block; }

.contact-heading {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem; }
  .contact-heading span {
    font-size: 1rem; }
  @media only screen and (min-width: 48rem) {
    .contact-heading {
      text-align: left; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2rem;
  font-weight: 400; }

h2 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  padding: 0 0 1rem 0; }

h3 {
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: 400;
  border-bottom: 1px solid #000;
  margin: 1rem 0 0.5rem 0; }

h4 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  padding: 0;
  margin: 0; }

.grid {
  display: inline-block;
  width: 100%; }
  .grid__one-fifth, .grid__one-quarter, .grid__three-quarters, .grid__four-fifths, .grid__one-whole {
    float: left; }
  @media only screen and (max-width: 47rem) {
    .grid__one-fifth {
      width: 20%; } }
  .grid__one-quarter {
    width: 25%; }
  .grid__three-quarters {
    width: 75%; }
  @media only screen and (max-width: 47rem) {
    .grid__four-fifths {
      width: 80%; } }
  .grid__one-whole {
    width: 100%; }

.item-group,
.item-group__item,
.additional-info {
  list-style: none;
  margin: 0;
  padding: 0; }

.item-group {
  margin: 0 0 1rem 0; }

.item-group__item {
  padding: 0.5rem 1rem; }

.item-group__item__title {
  font-weight: 600; }

.js .menu {
  overflow: hidden;
  padding-top: 1rem; }

@media screen and (min-width: 48rem) {
  .js .menu__link {
    display: none; } }

.js .menu__link__line {
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.js .menu__link.active .menu__link__line:nth-child(2) {
  opacity: 0; }

.js .menu__link.active .menu__link__line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg); }

.js .menu__link.active .menu__link__line:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(-45deg);
  -ms-transform: translateY(-4px) rotate(-45deg);
  -o-transform: translateY(-4px) rotate(-45deg);
  transform: translateY(-4px) rotate(-45deg); }

.js nav {
  max-height: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  @media screen and (min-width: 48rem) {
    .js nav {
      max-height: none; } }
  .js nav.active {
    max-height: 15rem; }
  .js nav ul {
    margin: 1rem 0 0 0;
    padding: 0;
    border-top: 1px solid #000; }
    @media only screen and (min-width: 48rem) {
      .js nav ul {
        margin: 0 0 0 -0.25rem;
        border: 0; } }
  .js nav li {
    border-bottom: 1px solid #2D2630;
    padding: 0.5rem 0 0.5rem 2rem; }
    @media only screen and (min-width: 48rem) {
      .js nav li {
        display: inline-block;
        margin: 0 0.25rem;
        border: 0; } }
  .js nav li > a {
    display: block; }

footer {
  background-color: #333;
  color: #efefef;
  padding: 0.5rem;
  margin-top: 2rem; }

.footer-nav {
  list-style: none;
  text-align: center; }
